/* CSS Normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

/* Box-sizing border-box */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
}

header{
    display: flex;
    height: 5%;
    width: 98%;
}

nav{
    display: flex;
    height: 100%;
    width: 100%;
    
}

div.top{
    display: flex;
    flex:0 0 50px;
    align-self: center;
}

a.top{
    color: black;
    text-decoration: none;
    width: 100%;
    text-align: center;
    opacity: 0.75;
}

#blank{
    visibility: hidden;
    flex: 1;
}

#r2{
    display: flex;
    height: 25px;
    width: 23px;
}

main{
    display: flex;
    flex-direction: column;
    height: 92%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

img{
    width: 300px;
    padding-top: 7%;
}

div.search{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;    
    /* justify-content: flex-start; */
    align-content: center;
    flex: 1;
    padding: 2%;
}

#searchbar{
    min-width: 482px; 
    height: 44px;
    background-color: white;
    border: 1px solid #b8b8b8;
    border-radius: 20px;
}

#searchbar:hover{
    box-shadow: 0 0 3px rgb(184, 184, 184);
}

div.bar{
    /* border: 1px solid cyan; */
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    min-width: 482px; 
    height: 44px;
}

/* 
ToDo:

Add maginfying glass and microphpone on top of search bar

div.mag{
    align-items: flex-start;
    width: 40px; 
    height: 40px;
}

#mag{
    border: 1px solid red;
    width: 30px; 
    height: 30px;
}

div.mic{
    align-items: flex-end;
    width: 40px; 
    height: 40px;
}

#mic{
    border: 1px solid purple;
    width: 30px; 
    height: 30px;
} 
*/

.searchbutton{
    display: flex;
    justify-content: center;
    width: 460px;
    height: 60px;
}

button{
    border: none;
    background-color: #f8f9fa;
    color: #3c4043;
    border-radius: 4px;
    margin: 11px 4px;
    padding: 0px 16px;
    height: 36px;
    text-align: center;
}

footer{
    background-color: #f2f2f2;
    border: 1px solid #dfdfdf;
    display: flex;
    height: 40px;
    width: 100%;
    justify-self: flex-end;
}

div.bottom{
    display: flex;
    flex:0 0 105px;
    align-items: center;
}

a.bottom{
    color: #70757a;
    text-decoration: none;
    width: 100%;
    text-align: center;
}